services:
  homebridge:
    container_name: homebridge
    image: homebridge/homebridge
    restart: unless-stopped
    network_mode: host
    environment:
      TZ: Europe/Oslo
    volumes:
      - ./data/homebridge:/homebridge
    logging:
      driver: json-file
      options:
        max-size: 10mb
        max-file: 1
  mqtt:
    container_name: mqtt
    image: eclipse-mosquitto:2.0
    restart: unless-stopped
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
    - ./data/mosquitto:/mosquitto
    command: 'mosquitto -c /mosquitto-no-auth.conf'
  zigbee2mqtt:
    container_name: zigbee2mqtt
    restart: unless-stopped
    image: koenkk/zigbee2mqtt
    ports:
      - 8080:8080
    environment:
      TZ: Europe/Oslo
    volumes:
      - ./data/zigbee2mqtt:/app/data
      - /run/udev:/run/udev:ro
    devices:
      - /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2690606-if00:/dev/ttyACM0
  pihole:
    container_name: pihole
    image: pihole/pihole
    restart: unless-stopped
    ports:
      - 53:53
      - 53:53/udp
      - '[::]:53:53/tcp'
      - '[::]:53:53/udp'
      - 8060:8060
    environment:
      TZ: Europe/Oslo
      WEB_PORT: 8060
      WEBPASSWORD: ${WEBPASSWORD}
      IPv6: true
      DHCP_IPv6: true
    volumes:
      - './data/pihole:/etc/pihole'
      - './data/dnsmasq.d:/etc/dnsmasq.d'
