[user]
	name = Michael Brusegard
	email = 56915010+michaelbrusegard@users.noreply.github.com
  signingkey = ~/.ssh/id_github.pub

[commit]
  gpgsign = true

[gpg]
  format = ssh

[push]
  autoSetupRemote = true

[pull]
	rebase = false

[core]
	editor = nvim
	pager = delta
  excludesfile = ~/.gitignore

[init]
  defaultBranch = main

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    blame-palette = "#191724 #1f1d2e #26233a #6e6a86 #908caa"
    commit-decoration-style = box ul
    dark = true
    file-decoration-style = "#e0def4"
    file-style = "#e0def4"
    hunk-header-decoration-style = box ul
    hunk-header-file-style = bold
    hunk-header-line-number-style = bold "#908caa"
    hunk-header-style = file line-number syntax
    line-numbers = true
    line-numbers-left-style = "#6e6a86"
    line-numbers-minus-style = bold "#eb6f92"
    line-numbers-plus-style = bold "#9ccfd8"
    line-numbers-right-style = "#6e6a86"
    line-numbers-zero-style = "#6e6a86"
    minus-emph-style = bold syntax "#393552"
    minus-style = syntax "#2a2837"
    plus-emph-style = bold syntax "#2a3439"
    plus-style = syntax "#232a2d"
    map-styles = \
        bold purple => syntax "#393552", \
        bold blue => syntax "#2a3439", \
        bold cyan => syntax "#2a3439", \
        bold yellow => syntax "#3a3235"
    syntax-theme = rose-pine
