services:
  vpn:
    image: hwdsl2/ipsec-vpn-server
    environment:
    VPN_LOCAL_TRAFFIC: 1
    VPN_ADDL_ROUTES: 192.168.1.0/24
    VPN_DNS_SRV1: 1.1.1.1
    VPN_DNS_SRV2: 8.8.8.8
    ports:
      - 500:500/udp
      - 4500:4500/udp
    privileged: true
    restart: unless-stopped
    network_mode: host
    volumes:
      - /lib/modules:/lib/modules:ro
      - ikev2-vpn-data:/etc/ipsec.d
