general:
  startup_commands: []
  shutdown_commands: []
  config_reload_commands: []
  focus_follows_cursor: false
  toggle_workspace_on_refocus: true
  cursor_jump:
    enabled: false
  hide_method: 'cloak'
  show_all_in_taskbar: false

gaps:
  scale_with_dpi: true
  inner_gap: '3px'
  outer_gap:
    top: '6px'
    right: '6px'
    bottom: '6px'
    left: '6px'

window_effects:
  focused_window:
    border:
      enabled: true
      color: '#89b4fa'
    hide_title_bar:
      enabled: false
    corner_style:
      enabled: false
      style: 'rounded'
    transparency:
      enabled: false
  other_windows:
    border:
      enabled: true
      color: '#45475a'
    hide_title_bar:
      enabled: false
    corner_style:
      enabled: false
      style: 'rounded'
    transparency:
      enabled: false

window_behavior:
  initial_state: 'tiling'
  state_defaults:
    floating:
      centered: true
      shown_on_top: true
    fullscreen:
      maximized: false
      shown_on_top: false

workspaces:
  - name: '1'
  - name: '2'
  - name: '3'
  - name: '4'
  - name: '5'
  - name: '6'
  - name: '7'
  - name: '8'
  - name: '9'

window_rules:
  - commands: ['ignore']
    match:
      - window_title: { regex: '[Pp]icture.in.[Pp]icture' }
        window_class: { regex: 'Chrome_WidgetWin_1|MozillaDialogClass' }
      - window_process: { equals: 'PowerToys' }
        window_class: { regex: 'HwndWrapper\[PowerToys\.PowerAccent.*?\]' }
      - window_process: { equals: 'PowerToys' }
        window_title: { regex: '.*? - Peek' }
      - window_title: { regex: ".*Palette.*" }

keybindings:
  # Focus window
  - commands: ['focus --direction left']
    bindings: ['alt+h']
  - commands: ['focus --direction down']
    bindings: ['alt+j']
  - commands: ['focus --direction up']
    bindings: ['alt+k']
  - commands: ['focus --direction right']
    bindings: ['alt+l']

  # Move window
  - commands: ['move --direction left']
    bindings: ['alt+shift+h']
  - commands: ['move --direction down']
    bindings: ['alt+shift+j']
  - commands: ['move --direction up']
    bindings: ['alt+shift+k']
  - commands: ['move --direction right']
    bindings: ['alt+shift+l']

  # Resize window
  - commands: ['resize --width -2%']
    bindings: ['alt+left']
  - commands: ['resize --height -2%']
    bindings: ['alt+down']
  - commands: ['resize --height +2%']
    bindings: ['alt+up']
  - commands: ['resize --width +2%']
    bindings: ['alt+right']

  # Switch to specific workspace
  - commands: ['focus --workspace 1']
    bindings: ['alt+1']
  - commands: ['focus --workspace 2']
    bindings: ['alt+2']
  - commands: ['focus --workspace 3']
    bindings: ['alt+3']
  - commands: ['focus --workspace 4']
    bindings: ['alt+4']
  - commands: ['focus --workspace 5']
    bindings: ['alt+5']
  - commands: ['focus --workspace 6']
    bindings: ['alt+6']
  - commands: ['focus --workspace 7']
    bindings: ['alt+7']
  - commands: ['focus --workspace 8']
    bindings: ['alt+8']
  - commands: ['focus --workspace 9']
    bindings: ['alt+9']

  # Move window to specific workspace
  - commands: ['move --workspace 1', 'focus --workspace 1']
    bindings: ['alt+shift+1']
  - commands: ['move --workspace 2', 'focus --workspace 2']
    bindings: ['alt+shift+2']
  - commands: ['move --workspace 3', 'focus --workspace 3']
    bindings: ['alt+shift+3']
  - commands: ['move --workspace 4', 'focus --workspace 4']
    bindings: ['alt+shift+4']
  - commands: ['move --workspace 5', 'focus --workspace 5']
    bindings: ['alt+shift+5']
  - commands: ['move --workspace 6', 'focus --workspace 6']
    bindings: ['alt+shift+6']
  - commands: ['move --workspace 7', 'focus --workspace 7']
    bindings: ['alt+shift+7']
  - commands: ['move --workspace 8', 'focus --workspace 8']
    bindings: ['alt+shift+8']
  - commands: ['move --workspace 9', 'focus --workspace 9']
    bindings: ['alt+shift+9']

  # Toggle floating window
  - commands: ['toggle-floating']
    bindings: ['alt+0']

  # System
  - commands: ['close']
    bindings: ['win+q']
  - commands: ['shell-exec wezterm start --always-new-process']
    bindings: ['alt+enter']
