name: Check

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.NIX_SECRETS_DEPLOY_KEY }}
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          diagnostic-endpoint: ""
      - uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          diagnostic-endpoint: ""

      - name: Check formatting
        run: nix fmt -- --check .

      - name: Check linting
        run: nix run nixpkgs#statix -- check .

      - name: Check for dead code
        run: nix run nixpkgs#deadnix -- --fail .

      - name: Validate flake
        run: nix flake check --no-build
