name: Check
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      nix: ${{ steps.filter.outputs.nix }}
      yaml: ${{ steps.filter.outputs.yaml }}
      gitops: ${{ steps.filter.outputs.gitops }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            nix:
              - '**/*.nix'
              - 'flake.nix'
              - 'flake.lock'
              - '.github/workflows/check.yaml'
            yaml:
              - '**/*.yaml'
              - '**/*.yml'
              - '.github/workflows/check.yaml'
            gitops:
              - 'gitops/**'
              - '.github/workflows/check.yaml'
  code-quality:
    needs: filter
    if: needs.filter.outputs.nix == 'true' || needs.filter.outputs.yaml == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.NIX_SECRETS_DEPLOY_KEY }}
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - name: Check formatting (Nix)
        run: nix fmt -- --check .
      - name: Check formatting (YAML)
        run: nix run nixpkgs#yamlfmt -- -lint .
      - name: Check linting (Nix)
        run: nix run nixpkgs#statix -- check .
      - name: Check for dead code (Nix)
        run: nix run nixpkgs#deadnix -- --fail .
      - name: Validate flake (Nix)
        run: nix flake check --show-trace
  validate-nix:
    needs: filter
    if: needs.filter.outputs.nix == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - host: lungo
            os: macos-latest
          - host: ristretto
            os: ubuntu-latest
          - host: macchiato
            os: ubuntu-latest
          - host: espresso-0
            os: ubuntu-latest
          - host: leggero
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.NIX_SECRETS_DEPLOY_KEY }}
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - name: Evaluate Host (NixOS)
        if: runner.os == 'Linux'
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel --dry-run
      - name: Evaluate Host (Darwin)
        if: runner.os == 'macOS'
        run: nix build .#darwinConfigurations.${{ matrix.host }}.system --dry-run
  validate-kubernetes:
    needs: filter
    if: needs.filter.outputs.gitops == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v2
      - name: Install Tools
        run: nix profile install nixpkgs#kustomize nixpkgs#kubeconform
      - name: Validate Kubernetes Manifests
        run: |
          kustomize build gitops/espresso | \
          kubeconform \
            -strict \
            -ignore-missing-schemas \
            -schema-location default \
            -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' \
            -verbose
