name: Check
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Check formatting (Nix)
        run: nix fmt -- --check .
      - name: Check formatting (YAML)
        run: nix run nixpkgs#yamlfmt -- -lint .
      - name: Check linting (Nix)
        run: nix run nixpkgs#statix -- check .
      - name: Check for dead code (Nix)
        run: nix run nixpkgs#deadnix -- --fail .
  validate-nix:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - host: lungo
            os: macos-latest
          - host: ristretto
            os: ubuntu-latest
          - host: macchiato
            os: ubuntu-latest
          - host: espresso-0
            os: ubuntu-latest
          - host: leggero
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.NIX_SECRETS_DEPLOY_KEY }}
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Validate flake
        if: matrix.host == 'espresso-0'
        run: nix flake check --show-trace
      - name: Evaluate Host (NixOS)
        if: runner.os == 'Linux'
        run: nix eval .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel --dry-run
      - name: Evaluate Host (Darwin)
        if: runner.os == 'macOS'
        run: nix eval .#darwinConfigurations.${{ matrix.host }}.system --dry-run
  validate-kubernetes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Install Tools
        run: nix profile install nixpkgs#kustomize nixpkgs#kubeconform
      - name: Validate Kubernetes Manifests
        run: |
          kustomize build gitops/espresso | \
          kubeconform \
            -strict \
            -ignore-missing-schemas \
            -schema-location default \
            -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' \
            -verbose
