name: CI

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check formatting
        run: nix fmt -- --check .

      - name: Check linting
        run: nix run nixpkgs#statix -- check .

      - name: Check for dead code
        run: nix run nixpkgs#deadnix -- --fail .

      - name: Validate flake
        run: nix flake check
