name: Update dotfiles on espresso

on:
  push:
    branches:
      - main
    paths:
      - "espresso/**"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Executing remote SSH commands using SSH key
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.ESPRESSO_USERNAME }}
          host: ${{ secrets.ESPRESSO_HOST }}
          key: ${{ secrets.ESPRESSO_KEY }}
          port: ${{ secrets.ESPRESSO_PORT }}
          script: cd ~/dotfiles/espresso && stow --adopt -t ~ home && sudo stow --adopt -t /etc etc && stow --adopt -t /data data && git restore .
